#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/keys.h>

// layers

#define QWERTY 0
#define SYSCTL 1
#define SYMBOL 2
#define NUMBER 3
#define KBCTL  4

// keys

#define HYPER LS(LC(LA(LGUI)))

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <4>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        qwerty_layer {
            //  ┌─────────┬───┬───┬───┬───┬───┐      ┌───┬───┬───┬───┬───┬───────┐
            //  │   TAB   │ Q │ W │ E │ R │ T │      │ Y │ U │ I │ O │ P │       │
            //  ├─────────┼───┼───┼───┼───┼───┤      ├───┼───┼───┼───┼───┼───────┤
            //  │ ESC/CTL │ A │ S │ D │ F │ G │      │ H │ J │ K │ L │ : │ ENTER │
            //  ├─────────┼───┼───┼───┼───┼───┤      ├───┼───┼───┼───┼───┼───────┤
            //  │  SHIFT  │ Z │ X │ C │ V │ B │      │ N │ M │ , │ . │ / │ SHIFT │
            //  └─────────┴┬──┴──┬┴───┴─┬─┴───┴┐   ┌─┴───┼───┴──┬┴─┬─┴───┴───────┘
            //             │ CMD │ SMBL │ BSPC │   │ SPC │ SYSC │ HPR │
            //             └─────┴──────┴──────┘   └─────┴──────┴──┘

            bindings = <
&kp ESCAPE     &kp Q  &kp W  &kp E     &kp R      &kp T         &kp Y             &kp U      &kp I      &kp O    &kp P     &none
&mt LCTRL TAB  &kp A  &kp S  &kp D     &kp F      &kp G         &kp H             &kp J      &kp K      &kp L    &kp SEMI  &kp ENTER
&kp LSHFT      &kp Z  &kp X  &kp C     &kp V      &kp B         &kp N             &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                             &kp LGUI  &kp SPACE  &bl BL_TOG    &kp K_PLAY_PAUSE  &kp SPACE  &kp SPACE
            >;

            sensor-bindings =
                <&inc_dec_kp K_VOLUME_UP K_VOLUME_DOWN>,
                <&inc_dec_kp C_NEXT C_PREVIOUS>;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};

// home row mods
// if kbktl works, then move bt 1 2 reset there.
// game mode
// reset
// qmk flash --keyboard crkbd/rev1 --keymap pvinis
// crkbd/rev1/pvinis @ 0.13.17-94-g521b7d-dirty
//    &mt LCTRL ESC or hold-tap better?
//screenshot button
// template
//  ┌──┬──┬──┬──┬──┬──┐      ┌──┬──┬──┬──┬──┬──┐
//  │  │  │  │  │  │  │      │  │  │  │  │  │  │
//  ├──┼──┼──┼──┼──┼──┤      ├──┼──┼──┼──┼──┼──┤
//  │  │  │  │  │  │  │      │  │  │  │  │  │  │
//  ├──┼──┼──┼──┼──┼──┤      ├──┼──┼──┼──┼──┼──┤
//  │  │  │  │  │  │  │      │  │  │  │  │  │  │
//  └──┴──┴──┴─┬┴─┬┴─┬┴─┐   ┌┴─┬┴─┬┴─┬┴──┴──┴──┘
//             │  │  │  │   │  │  │  │
//             └──┴──┴──┘   └──┴──┴──┘
